@charset "euc-kr";

html,body {
	height:100%;
	-webkit-tap-highlight:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	-webkit-focus-ring-color:rgba(0,0,0,0);
	overflow: visible;
	min-width: 320px;
}

* {margin:0; padding:0;}


/*PC모음 */

body {position:relative; min-width:320px; height:100%; font-size:75%; font-family:"NotoSans", sans-serif; color:#000; line-height:1.7em; letter-spacing:-1px; word-spacing:0.2em; -webkit-text-size-adjust:none; overflow-x: hidden;}

/* tap 스킵 영역 */
.skipToContent a { position:absolute; top:0; left:0; z-index:9999; width:100%; height:1px; margin-top:-1px; display:block; background-color:#3875c1; font-size:1rem; font-weight:400; color:#fff; line-height:1; overflow:hidden; text-align:center;}
.skipToContent a:focus,.skipToContent a:active,.skipToContent a:hover {margin-top:0; height:auto; padding:10px 0px;}

.wrapper {position:absolute; width:100%; margin:0; padding-top:110px; text-align:left; font-size:1rem; background:url(../images/sub_bg.jpg) top no-repeat;} /* 서브 전체 배경 */


/* 상단메뉴 start */
.gnbWrap {position:absolute; top:0px; left:0; width:100%; height:75px; border-bottom:4px solid #419141; z-index: 100; background:rgba(255,255,255,0.5);box-shadow : 0 1px 8px rgba(0,0,0,0.2) }
.gnbWrap .gnbArea {position:static; max-width:1200px; height: 0; padding-top:0; margin:0 auto; text-align:left; }
.gnbWrap .gnbArea:after {content:""; clear:both; display:block;}
.gnbWrap .gnbArea h1 {float:left; margin-left:30px; margin-top:13px; margin-right:45px;}
.gnbWrap .gnbArea h1 a {display:block;}
.gnbWrap .gnbArea h1 a img {max-width:100%;}
.gnbWrap .gnbArea h1 a img.white {display:none;}



.gnbWrap #gnb{position: relative; width: 850px; text-align: left;  max-width:100%;margin: 0px auto 0; -webkit-transition: all 0.5s ease; transition: all 0.5s ease;} 
.gnbWrap #gnb .nav { height: 0; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

.gnbWrap #gnb .menuDepth1 { float: left; position: relative; width: 150px; }
.gnbWrap #gnb .menuDepth1 > a { display: block;font-size: 1.25rem; font-weight: 600; height:75px; padding: 28px 0;text-align: center;box-sizing: border-box;color:#2E2E2E;}
.gnbWrap #gnb .menuDepth1 > a:hover{color:#337014; text-decoration: underline;}
.gnbWrap #gnb .menuDepth1 .menuDepth2 { overflow: hidden; height: 0; opacity: 0;padding: 15px 15px 0 15px; border-left: 1px solid #e1e1e1; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.gnbWrap #gnb .menuDepth2 li a{display:block;font-size:1rem;font-weight:normal;color:#333;padding:15px 0 0 5px;background:url(../images/icon_whitedot2x2.gif) no-repeat left 24px; padding-left:8px;}
.gnbWrap #gnb .menuDepth2 li a:hover{color:#8cff79; text-decoration:none;box-size:border-box;background:url(../images/icon_yellowdot2x2.gif) no-repeat left 24px;}
.gnbWrap #gnb .menuDepth1 .menuDepth2 .depth3 { display: none; }
.gnbWrap #gnb .menuDepth1:last-child .menuDepth2 { border-right: 1px solid #e1e1e1; }
.gnbWrap #gnb:before { position: absolute; left: 50%; top: 75px; z-index: -1; width: 1000%; height:100%;  margin-left: -500%; background: url("../images/gnb_bg.gif") no-repeat center bottom #fff; content: '';}

.gnbWrap #gnb.active .nav { height: 250px; }
.gnbWrap #gnb.active .gnbArea { height: 250px; }
.gnbWrap #gnb.active .menuDepth2 { height: 235px; opacity: 1;}
.gnbWrap #gnb.active .on .menuDepth2 { background-color: #2f8703; }
.gnbWrap #gnb.active .on .menuDepth2 a { color: #fff; }
.gnbWrap #gnb.active .on .menuDepth2 a:hover {color: #deff79; }
.gnbWrap #gnb.active:before { border-top: 0px solid #eee; border-bottom: 0px solid #eee;}

.gnbWrap .mask {display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE-8 */ filter:alpha(opacity=80); /* IE-7 */ opacity:0.8; /* all-browser */ z-index:50; }



/* 로그인 영역 */
.gnbWrap .loginArea{position:absolute; display: inline-block;width:130px; top:25px;padding-left:30px;text-align: center;}
.gnbWrap .login{position:relative; top:0; font-weight:600;text-align: center}
.gnbWrap .login img{vertical-align: middle;}
.gnbWrap .login a img.basic {max-width:100%;}
.gnbWrap .login a img.white {display: none;}
.gnbWrap .login span{ padding:0 10px; height:10px;}
.gnbWrap .login span a{color:#333;}
.gnbWrap .login span a:hover{color:#dc2f62;}

.gnbWrap .moreLogin{position:relative;display:none;top:0px;padding:8px 15px;border-radius: 3%; -webkit-box-shadow: 1px 2px 6px rgba(128, 128, 128, 0.6); box-shadow: 1px 2px 6px rgba(128, 128, 128, 0.6);background-color: #fff; z-index: 100;}
.gnbWrap .moreLogin:before{top:-50px;left:20px;display: block;width: 0;height: 0;margin: 0 auto;border: 6px solid transparent; border-bottom-color: #2f8703; content: ''; opacity: 1;z-index: 101}
.gnbWrap .moreLogin ul{font-size:0.875rem;font-weight:600;}
.gnbWrap .moreLogin li{line-height:30px; border-bottom: 1px dotted #c5c6cd;padding:2px 5px; }
.gnbWrap .moreLogin li:last-child{border-bottom: none}
.gnbWrap .moreLogin li{line-height:30px; }
.gnbWrap .moreLogin li a{color:#333; }
.gnbWrap .moreLogin li a:hover{color:#2b7f00;}



/* 이동하는_상단 영역 */
.gnbWrap.fixed {position:fixed; top:0; height:75px; background: #31343f; /* ie8 */ background: rgba(49,52,63,0.75); z-index:100; color:#fff; padding-top:-20px;} 
.gnbWrap.fixed .gnbArea h1 { margin-top:11px;}
.gnbWrap.fixed h1 a img.basic { display:none; }
.gnbWrap.fixed h1 a img.white { display:block; margin-top:0px; } /* 따라 다니는 상단 메뉴 로고 영역 */
.gnbWrap.fixed .gnbArea #gnb .inner > ul {padding-top:3px} 
.gnbWrap.fixed .gnbArea #gnb .inner > ul.menuArea > li > a {color:#fff;} 
.gnbWrap.fixed .gnbArea #gnb .inner > ul.menuDepth2 > li > a {color:#333 !important;} 
.gnbWrap.fixed .gnbArea #gnb .login span a {color:#fff;}
.gnbWrap.fixed .gnbArea #gnb .login span a:hover {color:#fff;}

.gnbWrap.fixed .gnbArea .loginArea{position:absolute; display: inline-block;width:130px; top:25px;padding-left:30px;text-align: center;}
.gnbWrap.fixed .gnbArea .loginArea .login{position:relative; top:0; font-weight:600;text-align: center}
.gnbWrap.fixed .gnbArea .loginArea .login a img{vertical-align: middle;}
.gnbWrap.fixed .gnbArea .loginArea .login a img.basic {display: none;}
.gnbWrap.fixed .gnbArea .loginArea .login a img.white {display: inline-block; max-width: 100%; }
.gnbWrap.fixed #gnb .menuDepth1 > a{color:#fff;}



/* 모바일 메뉴 */
.mobile_gnb{display:none;}

    .hamburger .line{width:30px; height:2px; background-color:#fff; display:block; margin:8px auto; transition:all .3s ease-in-out;}
    .hamburger .line:nth-child(2){ width:20px; margin:8px 0;}
    .ir .txt_s,.ir h4{margin-bottom:10px;}
    .hamburger:hover{cursor:pointer;}
    #hamburger-1.is-active .line:nth-child(2){opacity:0;}
    #hamburger-1.is-active .line:nth-child(1){transform:translateY(10px) rotate(45deg)}
    #hamburger-1.is-active .line:nth-child(3){transform:translateY(-10px) rotate(-45deg)}

    .hamburger_pc .line{width:30px; height:2px; background-color:#fff;/* background-color:#4b4e5b; */ display:block; margin:8px auto; transition:all .3s ease-in-out;}
    .hamburger_pc .line:nth-child(2){ width:20px; margin:8px 0;}


/* 서브페이지 상단 타이틀 영역 */
.topVisBg {position:relative; width:100%; height:120px; text-align:center;} /* 타이틀 영역 정보 */
.topVisTitle {color:#423333; font-size:2rem; font-weight: 600;padding-top:10px} /* 타이틀 */
.topVisSubtitle {color:#737373; padding-top:10px; font-size:1rem; font-weight: 600;} /* 부 제목 */


/* 서브페이지 위치정보 영역 */
.innerWrap {position:relative; width:100%; max-width:1200px; margin:0 auto; padding:0;} /* 타이틀 영역 높이값 */
.topNavi {width:100%; height:48px; background: #575963;}
.topVisBg +.topNavi {position:absolute; width:100%; bottom:0;}
.topNavi .innerWrap2 > ul {display:inline-block; }
.topNavi .innerWrap2 > ul > li {position:relative; float:left; text-align:center; box-sizing:border-box; margin:0;}
li.topNaviHome {display:table; height:inherit; vertical-align:middle; text-align:center;}
.topNavi .innerWrap2 > ul > li > a {color:#c9c9c9; display:block; line-height:48px; height:48px; vertical-align:middle; font-size:0.875rem; background:url('../images/ico_loc_arrow.png') no-repeat 100% center; }
li.topNaviHome a {display:table-cell !important; background:none !important; width:53px; box-sizing:border-box; margin:0; padding:0; clear:both; float:none;border-left:1px solid #7d7d7e;border-right:1px solid #7d7d7e;padding:0 5px;}
.topNavi .innerWrap2 > ul > li > a.on { color:#fff;}
.topNavi .innerWrap2 > ul > li > ul {display:none; position:absolute; width:100%; background:#000000; z-index:91;}
.topNavi .innerWrap2 > ul > li > ul.on  { display:block; }
li.topNaviMenu {min-width:190px;}
li.topNaviMenu1 {min-width:190px;}
li.topNaviMenu2 {min-width:190px;}
.topNaviMenu2 a {color:#fff !important;display: block;}
.topNavi .innerWrap2 > ul > li > ul > li > a {color:#c9c9c9;display:block;font-size:0.8125rem; padding:10px 0;margin:5px 0;}
.topNavi .innerWrap2 > ul > li > ul > li > a:hover { color:#fff; font-family:"NotoSans", sans-serif;}


/* 전체 컨테이너 영역 */
.topnaviWrap {background: url(../images/sub_location_bg.jpg) bottom center no-repeat;}
.container {width:100%; padding:0; margin:0 auto; background:url(../images/sub_contents_bg.png) top center no-repeat;} 
.container_bg {width:100%; padding:0; padding-bottom: 50px; margin:0 auto; background:url(../images/container_bg.png) top center repeat-y;} 
.container:focus {outline: none;} /* 불투명도 제거 */
.container:after {display:block; height:0; content:""; clear:both; float:none; }
.contentWrap{position:relative; float:left; width:100%; min-height:481px; box-sizing:border-box;}

.innerWrap2 {position:relative; max-width:1000px; margin:0 auto; padding:0;} /* 컨테이너 안 _ 컨텐츠 영역 */


/* PC_contents layout */
.contentHead { position:relative; width:100%; }
.contentHead h3 {margin-top:50px;margin-bottom:35px;}
.contentBody{padding:0 0 40px 0;font-size:0.875rem;}


/* PC_footer */
.footer {border-top: 1px solid #cecece; width:100%; margin: 0 auto;}
.footerMenuWrap {width:1000px; margin:0 auto; padding-bottom:15px;border-bottom:1px solid #e1e1e1;}
.footerMenuWrap ul li {float:left; width:156px; margin-top:15px;}
.footerMenuWrap ul li a {display:block;color:#666;font-size:0.75rem;font-weight:500;font-family:"NotoSans",sans-serif;background:url('../image/bul/bul_triangle_lg.png') no-repeat right center;}
.footerMenuWrap ul li a:before {content:"|";color:#e8e8e8;padding: 0 12px;}
.footerMenuWrap ul li:first-child a:before {content:"";padding:0;}

.footerSubWrap {float:left; position:relative; margin-bottom:30px;}
.footerSubMenu {margin-top:25px;}
.footerSubMenu li {float:left;}
.footerSubMenu li a {display:block;color:#fff;font-size:0.8125rem;font-weight:500;font-family:"NotoSans",sans-serif;}
.footerSubMenu li a:before {content:"|";color:#e8e8e8;padding: 0 12px;}
.footerSubMenu li:first-child a:before {content:"";padding:0;}
.footerLinkWrap {float:right;position:relative;margin-bottom:30px;}
.footerArea {background: #3c3c3c; color:#bfbfbf; font-size:0.75rem;}
.footer_SubWrap_all {width:1000px; margin:0 auto; background: #3c3c3c; overflow: hidden;} 



/* 미디어 쿼리 모음 480px  860px  1090px  ~1350px */


/* 미디어 쿼리 모바일용 영역 */

@media (max-width:480px) {
	.footerMenuWrap ul li {width:auto;margin-left: 6px;}
	.footerMenuWrap ul li:first-child {margin-left:0;}
	.footer .footerInfo address,
	.footer .footerInfo .telFaxInfo {display:inline-block;line-height:16px;}
	.footerSubMenu {margin-left: -15px;}
	.footerSubMenu li {width:auto;display:inline-block;margin-left:15px;}
	.footerSubMenu li:first-child {}
	.footerSubMenu li a:before {content:"";padding:0;}
	.footerSubMenu li.no04 {clear:none;}
	
	
}


@media (max-width:860px) {
	.footerSubMenu li.no04 {clear:both;}
	.footerSubMenu li.no04 a:before { content:""; padding:0; }
	
}



/* 타블렛 크기로 변환시 전체 설정 및 메뉴설정 */
@media (max-width:1090px) {
	
	.mobile_gnb {display:block !important;}   /* 모바일 전용 전체 메뉴 표시 */
    
  /* 모바일 전용 전체 영역 */
 .wrapper {padding-top:0px;}
	.gnbWrap {padding:0; height:60px; background-color:#606372;}
	.gnbWrap.fixed {top: 0;height:60px;}

	
	.gnbWrap .gnbArea h1 {margin-left:30px;margin-top:5px;}
	.gnbWrap.fixed .gnbArea h1 {margin-top:3px;}
	.gnbWrap .gnbArea h1 a img.basic {display:none;}
	.gnbWrap .gnbArea h1 a img.white {display:inline-block;max-width:100%;} 
	
	
	.wrapper #gnb{display:none;} 
	.wrapper .loginArea{display: none;}
	.gnbWrap.fixed .gnbArea .loginArea .login{display: none;}

	.topnaviWrap {display:none;}

	.contentBody {font-size:0.8125rem;padding-top: 25px;border-top: 1px solid #c8c8c8;margin-top: 13px;}
	
	.contentHead { position:relative; width:100%; }
 .contentHead h3 {margin-top:90px;margin-bottom:20px;}
 .contentBody{padding:0 0 40px 0;font-size:0.875rem;}


    .mobile_gnb_open_btn{position:absolute; top:11px; right:15px; background:0 0;}
    .mobile_gnb_list{position:fixed; top:60px; left:100%; width:100%; background:#fff; z-index:99; height:100%; overflow-y:auto; transition:all .3s ease-in-out;}
    .mobile_gnb_list.on{left:0;}
	
	   .mobile_gnb_list .mobileLogin{height:60px;border-bottom: 1px solid #e7e7e7; padding-left:80px;line-height: 60px; background:url(../images/icon_mobile_login.png) no-repeat	30px 17px;font-size: 0.875rem; font-weight: 600;background-color:#e8e8e8}
  	.mobile_gnb_list .mobileLogin span{padding-right:23px;}
	.mobile_gnb_list .mobileLogin a{color:#333;}
	.mobile_gnb_list .mobileLogin a:hover{color:#2b7f00;}
	
    .mobile_gnb_list .gnb_area{height:auto;border-bottom: 3px solid #e7e7e7}
    .mobile_gnb_list .gnb_area a{display:block; padding:0 20px; color:#333;}
    .mobile_gnb_list .util{overflow:hidden; margin:0 30px;}
    .mobile_gnb_list .util a{border:1px solid #cc5536; border-left:0; padding:8px 0; color:#333; display:block; float:left; min-width:49%; text-align:center; font-size:0.8125rem; background:#fff;}
    .mobile_gnb_list .util a.first{border-left:1px solid #ebb2a3}
    .mobile_gnb_list .util a:hover{background:#eee}
    .mobile_gnb_list .gnb_area .oneD{display:table; width:100%; height:60px}
    .mobile_gnb_list .gnb_area .oneD a{border-top:1px solid #e7e7e7; font-size:1rem; display:table-cell; vertical-align:middle; position:relative; font-weight:400; padding-left:45px}
	.mobile_gnb_list .gnb_area .oneD a:hover{color:#2b7f00; text-decoration: underline;}
    .mobile_gnb_list .gnb_area .oneD:last-child a{border-bottom:1px solid #e7e7e7}
	.mobile_gnb_list .gnb_area .oneD.depth {line-height: 60px;}
	.mobile_gnb_list .gnb_area .oneD.depth a:after{
        content:'';
        display:inline-block;
        width:0;
        height:0;
        border-top:10px solid #9e9e9e;
        border-left:8px solid transparent;
        border-right:8px solid transparent;
        transition:all .2s ease-in-out;
        transform:rotate(0);
        -webkit-transform:rotate(0);
        -moz-transform:rotate(0);
        position:absolute;
        top:0;
        bottom:0;
        right:25px;
        margin:auto;
    } 
	   .mobile_gnb_list .gnb_area .oneD.depth.on {background-color:#2f8703;}
    .mobile_gnb_list .gnb_area .oneD.depth.on a{color:#fff;font-size: 600;}
    .mobile_gnb_list .gnb_area .oneD.depth.on a:after{transform:rotate(-180deg); -webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); border-top:10px solid #fff;}
    .mobile_gnb_list .gnb_area .twoD{display:none; background:#eaeaea;}
    .mobile_gnb_list .gnb_area .twoD a{padding:17px 20px 17px 50px; font-size:0.9375rem; border-bottom:1px solid #ddd; font-weight:400;letter-spacing: 1;}
    .mobile_gnb_list .gnb_area .twoD a:last-child{border-bottom:none}
	   .mobile_gnb_list .gnb_area .twoD a:hover{color:#2b7f00; text-decoration: underline;}
    .mobile_gnb .family_link_m{position:fixed; bottom:-10%; z-index:9999; background:#f7f7f7; border-top:1px solid #d6d6d6; display:table; width:100%; height:60px; transition:all .3s ease-in-out;}
    .mobile_gnb .family_link_m.on{bottom:0;}
    .mobile_gnb .family_link_m a{color:#333; border-right:1px solid #d6d6d6; display:table-cell; width:20%; vertical-align:middle; text-align:center; font-size:1.2rem; line-height:1.5; font-weight:400;}
    .mobile_gnb .family_link_m a:last-child{border-right:0;}


    .hamburger .line{width:30px; height:2px; background-color:#fff; display:block; margin:8px auto; transition:all .3s ease-in-out;}
    .hamburger .line:nth-child(2){ width:20px; margin:8px 0;}
    .ir .txt_s,.ir h4{margin-bottom:10px;}
    .hamburger:hover{cursor:pointer;}
    #hamburger-1.is-active .line:nth-child(2){opacity:0;}
    #hamburger-1.is-active .line:nth-child(1){transform:translateY(10px) rotate(45deg)}
    #hamburger-1.is-active .line:nth-child(3){transform:translateY(-10px) rotate(-45deg)}
	


    
	/* 모바일 푸터영역 */
	 footer {padding:0;}
	.footer {padding:0;}
	.footerArea {background: #3c3c3c;}
    .footerArea {background: #3c3c3c;}
    .footer_SubWrap_all {width:100%; margin:0 auto; background: #3c3c3c; overflow: hidden;} 
    .footerSubWrap {padding:0 15px;float:none;width:100%;box-sizing:border-box;margin-bottom:0;}
	.footerSubMenu {margin-top:20px;}
	.footerSubMenu li a {font-size:0.8125rem;} 
    .footerMenuWrap {width:100%;}
	.footerMenuWrap ul li {width:25%; box-sizing:border-box;}
	.footerMenuWrap ul li a {background:none;font-size:0.6875rem;width:100%;}
	.footerMenuWrap ul li a:before {padding: 0 8px 0 0;}
	.footerLinkWrap {float:none;width:100%;padding:0 15px;box-sizing:border-box;margin-bottom: 20px;}
	.footerLinkWrap:after {display:block; height:0; content:""; float:none; clear:both; }
    /* 인증 마크 */
    .footerMark{width:90px; padding:30px 10px 0;}
    .footerMark .pc {display: none;}
    .footerMark .mo {display: block; width:100%;}
    /* 푸터 영역 내용 */
	.footer .copyrigyht {font-size:0.6875rem;}
}



@media (max-width:1179px) {
	.innerWrap2 {width:100%;padding:0 30px !important;box-sizing:border-box;}
 .gnbWrap .gnbArea h1 {margin-right:0px;}


}


@media (max-width:1200px) {
	.innerWrap2  {width:100%;padding:0 30px !important; box-sizing:border-box;}


}


@media (max-width: 1349px) {
	.innerMenuBox > ul {}
	.innerMenuBox > ul > li {float:left; width:240px; margin-top:27px; padding-left:30px; padding-right:18px; box-sizing:border-box;}
	
	.innerMenuBox > ul > li.no01,
	.innerMenuBox > ul > li.no02,
	.innerMenuBox > ul > li.no03 {margin-top: 0;}
	
	.innerMenuBox > ul > li.no01,
	.innerMenuBox > ul > li.no04,
	.innerMenuBox > ul > li.no07,
	.innerMenuBox > ul > li.no10,
	.innerMenuBox > ul > li.no13,
	.innerMenuBox > ul > li.no16,
	.innerMenuBox > ul > li.no19,
	.innerMenuBox > ul > li.no22,
	.innerMenuBox > ul > li.no25,
	.innerMenuBox > ul > li.no28 {clear:both;}
}


/* 1350px 이상 효과 발생 */
@media (min-width: 1350px) {
    /* 상단 네비메뉴 영역 */
	.innerMenuBox > ul {background: url('../image/bg/bg_gnb_ul_new.png') repeat-y 0 0;}
	.innerMenuBox > ul > li {float:left; width: 240px; margin-top: 27px; padding-left: 30px; padding-right: 18px; box-sizing:border-box;}
	.innerMenuBox > ul > li.no01,
	.innerMenuBox > ul > li.no02,
	.innerMenuBox > ul > li.no03,
	.innerMenuBox > ul > li.no04 {margin-top:0;}

	.innerMenuBox > ul > li.no01,
	.innerMenuBox > ul > li.no05,
	.innerMenuBox > ul > li.no09,
	.innerMenuBox > ul > li.no13,
	.innerMenuBox > ul > li.no17,
	.innerMenuBox > ul > li.no21,
	.innerMenuBox > ul > li.no25,
	.innerMenuBox > ul > li.no29,
	.innerMenuBox > ul > li.no33,
	.innerMenuBox > ul > li.no37 {clear:both;}
    
    .innerMenuBox > ul > li > a {font-size:0.875rem; line-height: 100%; font-weight:700; font-family:"NotoSans", sans-serif; color:#37272a; padding-bottom: 2px; word-break: keep-all;}
    .innerMenuBox > ul > li > a:hover { color:#01a06e; border-bottom:1px solid #01a06e; }

    .innerMenuBox > ul > li > ul > li {margin-top:2px; margin: 1px 10px;}
    .innerMenuBox > ul > li > ul > li:first-child {margin-top: 5px;}
    .innerMenuBox > ul > li > ul > li > a {display: block; font-size:0.8125rem; color:#4e4e4e; font-weight:600; font-family:"NotoSans", sans-serif; word-break: keep-all;}
    .innerMenuBox > ul > li > ul > li:before {content: "-"; float: left; padding-right: 7px;}

	
	
	
	
}








